{% extends('base.html') %}
{% block content %}
    <h1>Home</h1>

    <p>
        Login page: <a href="{{ request.url_for('login') }}">{{ request.url_for('login') }}</a>
    </p>

    <p>
        Authentication page: <a href="{{ request.url_for('authenticated') }}">{{ request.url_for('authenticated') }}</a>
    </p>

    <p>
        Logout page: <a href="{{ request.url_for('logout') }}">Logout page</a>
    </p>
    {% if 'admin' in request.auth.scopes %}
    <p>
        Test data DB: <a href="{{ request.url_for('test_db') }}">data db test</a>
    </p>

    <p>
        Test admin DB: <a href="{{ request.url_for('auth_db') }}">auth db test</a>
    </p>
    {% endif %}
{% endblock %}